  <% include partials/_header %>

  
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 mt-3 ">
              <table class="table table-sm table-condensed table-bordered table-striped table-hover">
                  <thead class="thead-dark">
                      <tr>
                          <th>nº</th>
                          <th>Dni</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Direccion</th>
                          <th>MZ_lt</th>
                          <th>Celular_1</th>
                          <th>Celular_2</th>
                          <th>Correo</th>
                          <th>RepVentas</th>
                          <th>Actividad</th>
                          <th></th>
                      
                      </tr>
                  </thead>
                  <tbody>
                      <% if (data) {%>
                        <%for (var i=0; i < data.length; i++) {%>
                            <tr>
                                <td><%= (i+1) %></td>
                                <td><%= data[i].dni %></td>
                                <td><%= data[i].nombre %></td>
                                <td><%= data[i].apellido %></td>
                                <td><%= data[i].direccion %></td>
                                <td><%= data[i].mz_lt %></td>
                                <td><%= data[i].celular_1 %></td>
                                <td><%= data[i].celular_2 %></td>
                                <td><%= data[i].correo %></td>
                                <td><%= data[i].repVentas %></td>
                                <td><%= data[i].actividad %></td>
                                <td >
                                    <a href="/delete/<%=data[i].dni %>" class="btn btn-danger btn-sm rounded"><i class="fa fa-minus-square-o" style="font-size:15px"></i></a>
                                    <a href="/update/<%=data[i].dni %>" class="btn btn-info btn-sm rounded" ><i class="fa fa-check-square-o" style="font-size:15px"></i></a>                                 
                                </td>
                            </tr>
                        <% } %>    
                      <% } %>  
                  </tbody>
              </table>

          </div>
          <div class="col-md-5 mt-5">
            <div class="card">
                <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="dni" placeholder="Dni" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="direccion" placeholder="Direccion" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="mz_lt" placeholder="MZ_lt" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="celular_1" placeholder="Celular_1" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="celular_2" placeholder="Celular_2" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="correo" placeholder="Correo" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="repVentas" placeholder="RepVentas" class="form-control">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="actividad" placeholder="Actividad" class="form-control">
                            </div>
                         <button type="submit" class="btn btn-primary">
                            Save Customer
                        </button>
                        </form>
                </div>
            </div>
          </div>
      </div>
  </div>

  <% include partials/_footer %>